body {
  font-family: Helvetica, sans-serif;
  color: #333;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  line-height: 1.25;
}

#ciao,
.dio {
  height: 10px;
  width: 200px;
  float: left;
}

table, th, td {
  border: 1px solid #333;
}